/* 
    Document   : style
    Created on : 17/12/2011, 17:42:42
    Author     : josue
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

textarea{
    width: 600px;
    height: 300px;
    border: 0px;
}

#enviar{
    display: none;
}

